.App{
  width:120vh;
  height:80vh;
  background:maroon;
  margin-top:15vh;
  border-radius:10px;
}
h1{
  color:yellow;
  text-align:center;
  font-weight:bold;
  font-style:italic;
  font-size:30px;
  padding:20px;
}


.section{
  border:5px solid white;
  width:100vh;
  height:40vh;
  margin:1vh 8.5vh;
  border-radius:20px;
}
.quote{
  color:white;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding:30px;
  font-family:"itim",cursive;
}
.author{
  color:white;
  font-size:20px;
  text-align:center;
  text-decoration:underline;
  font-family:"itim",cursive;
  font-weight:bold;
}


.btn{
  width:20vh;
  height:10vh;
  background:pink;
  color:maroon;
  border:0;
  outline:none;
  margin:10px 50vh;
  font-size:15px;
  border-radius:10px;
  font-family:"itim",cursive;
  cursor:pointer;
}


























